Sesion01-02/src/conf/xml-resources/web-service-references/WS101/wsdl/localhost_8080/Sesion01/WS101.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.proyecto.empresa.com/" name="WS101">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.proyecto.empresa.com/" schemaLocation="http://localhost:8080/Sesion01/WS101?xsd=1" />
</xsd:schema>
</types>
<message name="listarPaises">
<part name="parameters" element="tns:listarPaises" />
</message>
<message name="listarPaisesResponse">
<part name="parameters" element="tns:listarPaisesResponse" />
</message>
<message name="nuevoPais">
<part name="parameters" element="tns:nuevoPais" />
</message>
<message name="nuevoPaisResponse">
<part name="parameters" element="tns:nuevoPaisResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="WS101">
<operation name="listarPaises">
<input wsam:Action="http://ws.proyecto.empresa.com/WS101/listarPaisesRequest" message="tns:listarPaises" />
<output wsam:Action="http://ws.proyecto.empresa.com/WS101/listarPaisesResponse" message="tns:listarPaisesResponse" />
</operation>
<operation name="nuevoPais">
<input wsam:Action="http://ws.proyecto.empresa.com/WS101/nuevoPaisRequest" message="tns:nuevoPais" />
<output wsam:Action="http://ws.proyecto.empresa.com/WS101/nuevoPaisResponse" message="tns:nuevoPaisResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://ws.proyecto.empresa.com/WS101/helloRequest" message="tns:hello" />
<output wsam:Action="http://ws.proyecto.empresa.com/WS101/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="WS101PortBinding" type="tns:WS101">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listarPaises">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="nuevoPais">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WS101">
<port name="WS101Port" binding="tns:WS101PortBinding">
<soap:address location="http://localhost:8080/Sesion01/WS101" />
</port>
</service>
</definitions>