Sesion01-02/src/conf/xml-resources/web-service-references/WS202/wsdl/localhost_8080/Sesion01/WS202.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proyecto.empresa.com/">

<xs:element name="listarProductos" type="tns:listarProductos" />

<xs:element name="listarProductosResponse" type="tns:listarProductosResponse" />

<xs:element name="nuevoProducto" type="tns:nuevoProducto" />

<xs:element name="nuevoProductoResponse" type="tns:nuevoProductoResponse" />

<xs:complexType name="listarProductos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:productoBean" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="productoBean">
<xs:sequence>
<xs:element name="idproducto" type="xs:int" />
<xs:element name="nombProducto" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoProducto">
<xs:sequence>
<xs:element name="nombProducto" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>